.mainContainer {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.contentWrapper {
  width: 100%;
  max-width: 100%;
}
